body {
    display: flex;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;

    align-items: center;
    flex-direction: column;
}

.texto {
    border: 1px solid red;
    letter-spacing: 15px;
}

.botaos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    border: 1px solid black;

    width: 50px;
    text-align: center;
    font-size: 40px;
}

.button:hover {
    transform: scale(1.1);
}

.vida {
    display: flex;
    gap: 30px;

    justify-content: center; 
}

.vida img{
    width: 5%;
}

.morto {
    transition: filter 1s;

    filter: grayscale(1);
}